#indexBody{
  margin:0;
  padding:0;
  background-color: red;
}



#header {
  margin: auto;
  text-align: center;
  padding: 30px 0 30px 0;
  font-family: cursive;
  color: white;
  font-size: 64px;
}

#grid{
  display:grid;
  grid-template-columns: repeat(var(--sideSize), 1fr);
  grid-template-rows: repeat(var(--sideSize), 1fr);
  grid-column: 2 / 3;
  margin-top: 50px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #dfdfdf;
  margin: auto;
  width:600px;
  height:600px;
}

#block{
  z-index:5;
}

.button {
  display: inline-block;
  font-size: 20px;
  margin: 5px;
}

#buttons {
  text-align:center;
  margin-top:20px;
}

